$header-color: rgb(30, 40, 45);
$input-field-color: rgb(255, 255, 255);
$button-color: rgb(135, 5, 5);
$text-color: rgb(240, 248, 255);
$messages-background-color: rgb(4, 77, 126);
$main-background-color: rgb(5, 88, 144);
$dot-color: rgb(0, 0, 0);